{% extends 'AdminTemplate1.html.twig ' %}


{% block rightside %}
    {{ form_start(form) }}

    {{ form_end(form) }}


    <p style="color: green">{{ worked }}</p>
    <p style="color: red">{{ error }}</p>

    {{ dump() }}
{% endblock %}