{% extends 'AdminTemplate1.html.twig ' %}


{% block rightside %}


    {{ form_start(form) }}

    {{ form_label(form.name) }}

    {{ form_widget(form.name,{'value':album.name }) }}
    {{ form_label(form.releasedate) }}

    {{ form_widget(form.releasedate,{'value':album.releasedate }) }}
    {{ form_label(form.picturepath) }}

    {{ form_widget(form.picturepath,{'value':album.picturepath})}}


    {{ form_end(form) }}

    <p style="color: green">{{ worked }}</p>
    <p style="color: red">{{ failed }}</p>
   

    {{ dump() }}
{% endblock %}
