{% extends 'AdminTemplate1.html.twig ' %}


{% block rightside %}
{{ form_start(form) }}

{{ form_end(form) }}


<p style="color: red">{{ youtubeError }}</p>

<p style="color: green">{{ worked }}</p>

    {{ dump() }}
    {% endblock %}
