{% extends 'BaseTemplate1.html.twig ' %}


{% block title %}Tour{% endblock %}


{% block contentmaster %}
    <div class="Tour">
        <div class="jumbotron">
            <table class="table table-striped table-hover ">
                <caption>Tour</caption>
                <thead>
                <tr>
                    <td>Location</td>
                    <td>Date</td>
                    <td>Country</td>
                    <td>Tickets</td>
                    <td>Price</td>


                </tr>
                </thead>
                <tbody>

                {% for tours in Tour %}
                    <tr>
                        <td>
                            {% if tours.locationLink is empty %}
                                {{ tours.location }}
                            {% else %}
                                <a href="{{tours.locationLink }}" target="_blank">{{ tours.location }}</a>
                            {% endif %}


                        </td>
                        <td>{{ tours.date|date("H:m | d.m.Y ") }}</td>
                        <td>{{ tours.country }}</td>
                        <td>
                            {% if tours.locationLink is empty %}
                                Abend Kasse
                            {% else %}

                                <a href="{{ tours.ticketLink }}" target="_blank">Click me </a>
                            {% endif %}

                            </td>
                        <td>{{ tours.price }}€</td>
                    </tr>
                {% endfor %}


                </tbody>

            </table>
        </div>
    </div>
{% endblock %}
