{% extends 'BaseTemplate1.html.twig' %}

{% block title %}Home{% endblock %}






{% block content %}

    {#
        #}
    {# total items count #}{#

        <div class="count">
            {{ pagination.getTotalItemCount }}
        </div>
    #}
    {% block mainLeft %}
    {% endblock %}

    {% if pagination is empty %}

        {% else %}

    {% for content in pagination %}
        <div class="homecontent">
            <div class="jumbotron">
                <img class="img" src="{{ asset('bundles/framework/images/News/') }}{{ content.picturePath }}"> </img>

                <h1>{{ content.title }}</h1>
                <button class="btn btn-primary mybuttons" type="button" data-toggle="collapse" data-target="#collapse{{ content.homeId }}"
                        aria-expanded="false" aria-controls="collapseExample">
                    Show More
                </button>
                </p>
                <div class="collapse" id="collapse{{ content.homeId }}">
                    <div class="card card-block">
                        <span>{{ content.content |raw}}</span>
                    </div>
                </div>
                <small class="text-right">{{ content.date|date('d.m.Y') }}</small>
            </div>
        </div>
    {% endfor %}



    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
            {% endif %}



{% endblock %}