{% extends 'AdminTemplate1.html.twig ' %}



{% block rightside %}
    <table class="table table-striped table-hover">
        <caption> <h1>Tour</h1> </caption>
        <thead>
        <tr>
            <th>#</th>
            <th>Location</th>
            <th>Date</th>
            <th>Country</th>
            <th>Location Link</th>
            <th>Ticket Link</th>
            <th>Price</th>
            <th>Edit</th>
            <th>Delete</th>

        </tr>
        </thead>
        <tbody>

        {% for tours in tour %}
            <tr>
                <td>{{ tours.tourId }}</td>
                <td>{{ tours.location }}</td>
                <td>{{ tours.date|date("d.m.Y H:m") }}</td>
                <td>{{ tours.country }}</td>
                <td>{{ tours.locationLink }}</td>
                <td>{{ tours.ticketLink }}</td>
                <td>{{ tours.price   }}€</td>

                <td>
                    <button class="btn btn-warning" onclick="editing({{ tours.tourId }})">Edit</button>
                </td>
                <td>
                    <button class="btn  btn-danger " onclick="deleting({{ tours.tourId   }}) ">Delete</button>
                </td>
            </tr>


        {% endfor %}

        </tbody>


    </table>

    <div class="container-fluid">
        <td><button class="btn btn-primary" onclick="inserting()">Create New</button></td>


    </div>
    {{ dump() }}




{% endblock %}