{% extends 'AdminTemplate1.html.twig ' %}



{% block rightside %}







    <table class="table table-striped table-hover">
        <caption> <h1>User</h1> </caption>
        <thead>
        <tr>
            <th>Name</th>
            <th>LastName</th>
            <th>Username</th>



        </tr>
        </thead>
        <tbody>
        {% for users in User  %}
            <tr>
                <td>{{ users.firstName}}</td>
                <td>{{ users.lastName}}</td>
                <td>{{ users.username}}</td>

            </tr>


        {% endfor %}

        </tbody>


    </table>

    <div class="container-fluid">
        <button class="btn btn-primary" onclick="inserting()">Create New</button>
        <button class="btn btn-warning" onclick="editing({{ userID }})">Edit my User</button>
        <button class="btn btn-danger" onclick="deleting({{ userID }})">Delete my User</button>



    </div>





{% endblock %}
