{% extends 'BaseTemplate1.html.twig ' %}


{% block title %}Videos{% endblock %}
{% block contentmaster %}
    <div class="videos">




        <div>





            <div class="container-fluid">
                <div class="row">
                    {% if album  is empty  %}
                    <div class="col-md-4">
                        <div class="jumbotron">
                            <h1>Nothing to see here</h1>
                            <p>...yet!</p>


                            </div>
                        </div>
                        {% else %}

                    {% for alb in album %}
                        <div class="col-md-4">
                            <div class="jumbotron">
                                <h1>{{ alb.name }}</h1>
                                <a href="{{ path('Videos') }}/{{ alb.albenID }}" class="thumbnail">
                                <img src="{{ asset("bundles/framework/images/video_pictures/") }}{{ alb.picturepath }}" class="thumb">
                                </a>
                            </div>
                        </div>
                    {% endfor %}

                    {% endif %}
                    </div>
                    </div>

                </div>
            </div>



{% endblock %}
