{% extends 'BaseTemplate1.html.twig ' %}


{% block title %}Videos{% endblock %}
{% block contentmaster %}
    <div class="videos">

        <div class="jumbotron">

            {{ dump() }}

        </div>


        <div>
            <div class="container-fluid">
                <div class="row">
                    {% for alb in album %}
                        <div class="col-md-4">
                            <div class="jumbotron">
                                <h1>{{ alb.name }}</h1>
                                <a href="{{ path('Videos') }}/{{ alb.albenID }}" class="thumbnail">
                                <img src="{{ asset("bundles/framework/images/video_pictures/") }}{{ alb.picturepath }}" class="thumb">
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="row">
                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}
